.cast-list {
  overflow: scroll;

  ul {
    display: inline-flex;
    gap: 10px;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      border: 1px solid grey;
      border-radius: 25px;
      width: 150px;
      height: 250px;

      .cast-list__cast-member-avatar {
        border-radius: 25px 25px 0 0;
        width: 100%;
      }
    }
  }

  &__cast-member-name {
    padding: 10px;
  }
}


