<section class="overview-card" style="{{this.backdrop}}">
    <div class="overview-card__picture">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/1sc39exU1GS3niZps9yJ3xTkBMf.jpg">
    </div>

    <div class="overview-card__details">
      <div>
        <h1>{{movie?.title}} ({{movie?.release_date | date:'yyyy'}})</h1>
        <span class="overview-card__details__meta-information">
          {{movie?.release_date | date}}
          <ul>
             <li *ngFor="let item of movie?.genres; index as i; trackBy: trackByFn">
                <ng-container *ngIf="i == 0; else loggedOut ">
                  * {{item.name}}
                </ng-container>
                <ng-template #loggedOut>
                   , {{item.name}}
                </ng-template>
             </li>
          </ul>
        </span>
      </div>

      <div class="overview-card__story">
        <label>{{ 'movieOverview.story' | translate }}</label>
        {{movie?.overview}}
      </div>
    </div>
</section>

<label>{{ 'movieOverview.actor' | translate }}</label>

<section class="content">
  <div class="content__middle">
    <div class="content__middle__actor">
      <app-cast [movieId]="502356" />
    </div>
  </div>

  <div class="content__right">
    <app-social-media />
  </div>
</section>

